/*
	css for appoinmentform
*/
	div{
		width:500px;
		border:5px solid navy;
		margin:auto;
		padding:50px;
		background-color:skyblue;
	}
	#org{ 
	margin-bottom:10px;
	}
	div p{
		color:white;
	}
	h3 span{
		font-size:15px;
		background-color:grey;
		color:white;
			}
	label{
		color:yellow;
	}



